@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#5C6672;
    --cor2:#D1462F;
    --cor3:#3C1518;
}

body, html{
    background-color: #3C1518;
}

header{
    background-color: #5C6672;
}

header > h1{
    text-align: center;
    padding: 10px;
}
header > p{
    text-align: center;
}

span#burguer{
    background-color: rgba(0, 0, 0, 0.308);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

span#burguer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

menu{
    display: none;
}

menu > ul {
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #212730;
    color: #D1462F;
    text-align: center;
    border-top: 2px solid gray;
}

menu a:hover{
    background-color: #697079;
    transition-duration: 0.5s;
}

main{
    background-color: #5C6672;
    margin: auto;
    width: 70%;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

main h1{
    text-align: center;
}

main h2{
    text-align: center;
}

main p {
    text-align: center;
    font-size: 1.2em;
}
img{
    display: block;
    margin: auto;
    width: 70%;
}


footer{
    margin-top: 20px;
    text-align: center;
    background-color: #212730;
    color: gray;
    padding: 15px;
}